@charset "UTF-8";
body {
  margin: auto;
}

main, header, footer, body {
  font-family: "roboto", sans-serif;
}

.header-menu .arrow {
  font-size: 22px;
}

header p {
  font-size: 16px;
}

footer {
  line-height: 1.75rem;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

footer h4 {
  font-family: shrikhand;
  font-size: 17px;
  margin-bottom: 5%;
}

a:visited, a:link {
  color: inherit;
  text-decoration: none;
}

/* Page accueil*/
.section-recherche h1 {
  font-size: 23px;
  line-height: 2rem;
}

.section-recherche p {
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5rem;
}

.section-nav h2, .section-resto h2 {
  font-size: 24px;
}

.section-nav li i {
  color: #353535;
  font-weight: bold;
  font-size: 20px;
}

.fa-store:before {
  font-size: 15px;
}

.section-nav li {
  font-weight: 600;
  font-size: 16px;
}

.text h3 {
  line-height: 1.5rem;
  font-size: 18px;
}

.text p {
  font-weight: 300;
  line-height: 2rem;
  font-size: 16px;
}

.contener-resto-text i {
  font-size: 22px;
}

.contener-resto-text .fa-heart:before {
  width: 18px;
}

/* Pages Menu */
.restaurant h1, .main-menu h1 {
  font-family: "shrikhand";
  font-size: 27px;
  font-weight: bold;
}

.main-menu h2 {
  line-height: 2rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.main-menu h3 {
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
}

.food-text h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.foodlist p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  font-size: 15px;
  font-weight: 100;
}

.price-button {
  font-size: 15px;
  font-weight: 500;
  line-height: 2rem;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .section-recherche h1, .h1-heart h1 {
    font-size: 20px;
  }

  .h1-heart h1 {
    font-size: 35px;
  }

  .section-nav h2, .section-resto h2 {
    font-size: 20px;
    line-height: 1rem;
  }

  .main-menu h2 {
    font-size: 20px;
  }

  .contener-resto h3, .contener-resto-nouveau h3, .contener-resto i, .contener-resto-nouveau i, .foodlist h3 {
    font-size: 18px;
    line-height: 1rem;
  }

  .section-recherche p, .button-explorer, .foodlist p, .price-button {
    font-size: 15px;
    line-height: 1rem;
  }

  .header-nav p, .header-nav i {
    font-size: 15px;
    line-height: 1rem;
  }

  .food-text {
    letter-spacing: 0.2rem;
  }
  .food-text h3 {
    line-height: 2rem;
  }

  .contener-resto p, .contener-resto-nouveau p {
    font-size: 15px;
  }

  .contener-button li {
    font-size: 12px;
  }

  .button-explorer, .order-button {
    font-size: 15px;
  }

  .button-text {
    font-size: 10px;
  }

  footer li {
    font-size: 15px;
    line-height: 0rem;
  }
}
/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
  .contener-button li {
    font-size: 15px;
  }

  .food-text {
    letter-spacing: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside,
footer, header, div, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

.fa, .fab, .fad, .fal, .far, .fas {
  display: flex;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4% 0% 2% 0%;
}
header p {
  margin-left: 5%;
}
header picture, header img {
  width: 200px;
}
header .arrow {
  position: absolute;
  top: 0px;
  left: -85px;
  color: black;
  margin: 0% 0% 0% 5%;
}

.header-menu {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 1%;
}

.header-nav {
  box-shadow: 0px -1px 0px grey;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 4% 0%;
  margin-bottom: 3%;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .header-menu {
    width: 100%;
  }
  .header-menu i {
    font-size: 20px;
    margin-right: 40%;
  }

  header {
    margin-top: 1%;
    margin-bottom: 0;
  }
  header picture, header img {
    width: 180px;
  }
  header p {
    margin-left: 1%;
  }
  header .arrow {
    left: -20px;
  }
  header .logo-accueil {
    margin-left: 0;
  }

  .h1-heart {
    margin: 0;
    margin-top: 2%;
  }

  .logo-accueil {
    margin-left: 15%;
  }
}
.section-recherche {
  position: relative;
  z-index: -1;
  top: -40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 10% 7%;
}
.section-recherche h1 {
  text-align: center;
  padding: 0% 5%;
}
.section-recherche p {
  width: 100%;
  text-align: center;
  margin: 5% 0%;
}

.section-nav {
  padding: 5%;
}
.section-nav li i {
  margin-right: 10%;
  margin-left: 0%;
}

.section-nav h2, .section-resto h2 {
  margin: 5% 3% 6% 3%;
}

li {
  list-style: initial;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .section-recherche {
    top: -30px;
  }
}
/* Media queries Desktop*/
@media only screen and (min-width: 1100px) {
  .section-recherche {
    top: -40px;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 5% 5% 8% 5%;
}
footer h4 {
  margin-bottom: 5%;
}
footer li {
  list-style: none;
  text-decoration: none;
}
footer i {
  padding-right: 10px;
  display: flex;
  align-items: center;
}
footer a:visited, footer a:link {
  color: inherit;
  text-decoration: none;
}

.icone-footer {
  display: flex;
}

.fa-utensils:before, .fa-hands-helping:before {
  font-size: small;
}

.fa-hands-helping:before {
  font-size: x-small;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  footer {
    padding: 2% 4%;
  }
  footer h4 {
    margin-bottom: 2%;
  }
  footer li {
    width: 50%;
    line-height: 1.5rem;
  }

  .section-resto {
    border-radius: 40px 40PX 0PX 0PX;
  }

  .icone-footer {
    width: 50%;
    line-height: 1.5rem;
    align-items: center;
  }
  .icone-footer li {
    flex-wrap: nowrap;
  }
}
/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
  footer {
    border-radius: 0PX 0PX 40px 40PX;
  }
}
.contener-button {
  align-content: center;
  padding: 2% 2% 5% 5%;
}
.contener-button .button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  padding: 8% 5%;
  margin: 2% 0% 7% 0%;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 5px #EAEAEA;
}
.contener-button .button:hover {
  background-color: #F6ECFF;
}

.section-nav li {
  display: flex;
  list-style: none;
}

.button .button-text {
  width: 100%;
}
.button .li {
  align-items: center;
}
.button .btn-icon {
  color: #7E7E7E;
}

.button-explorer {
  background: linear-gradient(#EA72DA, #9356dc);
  color: white;
  border-radius: 25px;
  padding: 5% 6%;
  box-shadow: 5px 5px 5px #EAEAEA;
  margin: 2% 0% 3% 0%;
}
.button-explorer:hover {
  filter: brightness(120%);
  box-shadow: 5px 5px 5px #353535;
}

.order-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  margin: 15% 0% 5% 20%;
  background: linear-gradient(#EA72DA, #9356dc);
  color: white;
  border-radius: 25px;
  padding: 5% 6%;
  box-shadow: 5px 5px 5px #EAEAEA;
}
.order-button:hover {
  filter: brightness(120%);
  box-shadow: 5px 5px 5px #353535;
}

.span-icone {
  position: relative;
  left: -30px;
  border: solid;
  border-color: #9356DC;
  border-radius: 50%;
  padding: 3px 5px;
  background: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.btn-nouveau {
  display: inline-block;
  position: absolute;
  top: 1rem !important;
  right: 1rem !important;
  background-color: #99E2D0;
  text-transform: capitalize;
  color: #007B53;
  font-weight: 500;
  font-size: 13px;
  padding: 2% 3%;
}

.button:hover .btn-icon {
  color: #9356DC;
}

.contener-resto .btn-nouveau {
  visibility: hidden;
}

.div-heart, .div-h1-heart {
  position: relative;
  background-color: black;
  width: 2rem;
  height: 3rem;
}
.div-heart::before, .div-h1-heart::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(#EA72DA, #9356dc);
  transition: 0.3s;
}
.div-heart:active::before, .div-h1-heart:active::before {
  opacity: 1;
}
.div-heart:active .far, .div-h1-heart:active .far {
  opacity: 0;
}

.div-h1-heart .heart-icon {
  background-color: #F6F6F6 !important;
}

.div-heart .heart-icon {
  background-color: white !important;
}

.div-heart .fa-heart {
  font-size: 24px;
}

.h1-heart .fa-heart {
  font-size: 26px;
}

.heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}

.price-button {
  margin-right: 2%;
}

.validation-button {
  background-color: #99E2D0;
  padding: 1rem;
  width: 2.3rem;
  height: 3.6rem;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: -1rem -5rem -1rem 1rem;
}

.fa-check-circle {
  align-self: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .div-nav {
    padding: 0%;
    align-content: center;
    justify-content: space-between;
  }

  .contener-button {
    padding: 0% 2% 2% 2%;
    display: flex;
    justify-content: space-between;
  }
  .contener-button ol {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .contener-button .button {
    width: 27%;
    margin: 1% 3% 1% 1%;
    padding: 1%;
  }
  .contener-button .button .button-text {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .span-icone {
    left: -35px;
    padding: 1.5% 3%;
    left: -20px;
    padding: 1% 2%;
  }

  .button-explorer, .order-button {
    padding: 1.5%;
  }

  .button-explorer {
    margin: 1%;
  }

  .btn-nouveau {
    top: -200px;
    right: -230px;
  }

  .validation-button {
    width: 2.3rem;
    height: 3rem;
    margin: -1rem -5rem -1rem 1rem;
  }

  .h1-heart .fa-heart {
    font-size: 32px;
  }

  .div-heart, .div-h1-heart {
    width: 3rem;
    height: 3rem;
  }
}
/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
  .button li, .button i {
    font-size: 22px;
  }

  .div-heart:hover::before, .div-h1-heart:hover::before {
    opacity: 1;
  }
  .div-heart:hover .far, .div-h1-heart:hover .far {
    opacity: 0;
  }

  .div-heart:active::before, .div-h1-heart:active::before {
    opacity: 1;
  }
  .div-heart:active .far, .div-h1-heart:active .far {
    opacity: 0;
  }
}
/* Sélection d'un plat*/
.foodlist:hover > .validation-button {
  margin-right: -1rem;
}

.foodlist:hover .validate-button-icon {
  animation-name: rotating;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
/* Apparition progressive*/
.main-menu .entrees {
  animation-name: appearing-entrees;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
}

@keyframes appearing-entrees {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-menu .plats {
  animation-name: appearing-plats;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
}

@keyframes appearing-plats {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-menu .desserts {
  animation-name: appearing-desserts;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

@keyframes appearing-desserts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Loading spinner*/
.loading-spinner {
  z-index: 1;
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: spinner 3s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  background-color: #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-spinner p {
  font-weight: 100;
  font-size: 20px;
  font-family: shrikhand;
  position: absolute;
  color: black;
}

.spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 16px solid transparent;
  border-top-color: #9356DC;
  border-right-color: #FF79DA;
  border-bottom-color: #99E2D0;
  border-left-color: rgba(255, 255, 255, 0.2);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -19999;
  }
}
.section-resto {
  padding: 9% 5% 10% 5%;
  background-color: #F6F6F6;
}
.section-resto img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}

.div-resto {
  margin-bottom: 10%;
}

.contener-resto-nouveau, .contener-resto {
  box-shadow: 5px 5px 5px 5px #EAEAEA;
  border-radius: 20px 20px 20px 20px;
  margin: 6% 2%;
  background-color: white;
  padding-bottom: 10%;
}
.contener-resto-nouveau a:visited, .contener-resto-nouveau a:link, .contener-resto a:visited, .contener-resto a:link {
  color: inherit;
  text-decoration: none;
}

.contener-resto-nouveau {
  position: relative;
}

.contener-resto-text {
  height: 30px;
  margin: 3% 3% 0% 5%;
  display: flex;
  justify-content: space-between;
}
.contener-resto-text i {
  display: flex;
  align-items: center;
}

.text {
  width: 80%;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .section-recherche {
    padding: 0;
  }
  .section-recherche h1 {
    margin: 0%;
  }
  .section-recherche p {
    margin: 0%;
  }

  .section-resto h2, .section-nav h2 {
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
  }

  .div-resto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .contener-resto, .contener-resto-nouveau {
    width: 325px;
    padding-bottom: 7%;
  }
}
/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
  .contener-resto, .contener-resto-nouveau {
    width: 440px;
  }

  .container {
    margin: 0% 4% 2% 4%;
  }

  .section-recherche, .section-nav, .section-resto {
    padding: 1%;
  }
}
/* Media queries Big Desktop*/
@media only screen and (min-width: 1464px) {
  .contener-resto, .contener-resto-nouveau {
    width: 630px;
  }
}
.main-menu {
  background: #F6F6F6;
  padding: 5% 5% 15% 5%;
}
.main-menu h2 {
  width: 12%;
  display: inline-block;
  margin: 5% 0% 5% 0%;
  border-bottom: solid;
  border-color: #99E2D0;
}

.photo-resto {
  object-fit: cover;
  width: 100%;
}

.photo-resto-note {
  height: 330px;
}

.restaurant {
  position: relative;
}

.h1-heart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 4%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F6F6F6;
  max-width: 100%;
  border-radius: 40PX 40PX 0PX 0PX;
}

.foodlist {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 7px 10px 5px 10px;
  margin-bottom: 5%;
  font-size: 0.8rem;
  box-shadow: -2px 2PX 10px #C5C5C5;
  overflow: hidden;
  cursor: pointer;
  animation: menu-item 1s both;
}

.food-text {
  flex: 1;
  overflow: hidden;
}

.price-button {
  overflow: hidden;
}

.entrees, .plats, .desserts {
  justify-content: space-between;
  padding: 0;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
  .header-nav, .section-recherche, .section-nav, .section-resto {
    padding: 1%;
  }

  .order-button {
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 35%;
    padding: 1%;
    font-size: 20px;
  }

  .main-menu {
    padding: 1%;
  }
  .main-menu h2 {
    margin: 0;
    margin-bottom: 3%;
  }

  .photo-resto {
    border-radius: 40px 40PX 0PX 0PX;
  }
}
.photo-resto-note {
  height: 500px;
}

/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
  .entrees, .plats, .desserts {
    display: flex;
  }

  .foodlist {
    width: 30%;
  }

  .photo-resto-note {
    height: 730px;
  }
}

/*# sourceMappingURL=style.css.map */
