.main-menu  {
    background: $background-color-primary;
    border-radius: 40px;
    padding: 5%;
    position: relative; 
    top: -40px;
}
.photo-resto {
    width:100%;
    postion: absolute;
}
.main-menu h1 {
    font-family:  'shrikhand';
    font-size: 30px;
}

.main-menu h2 {
    display: inline-block;
    font-size: 20px;
    margin: 5% 0%;
    border-bottom: solid;
    border-color: $color-highlight-secondary;
}
.main-menu h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom:2%;
}
.main-menu p {
    font-size: 13px;
}
.h1-heart {
    dispaly:flex;
    flex-wrap: nowrap;
    padding: 0% 2%;
    margin:5% 0%;
}
.foodlist {
    background-color: white; 
    border-radius: 20px; 
    box-shadow: 5px 5px 5px $background-color-secondary;
    margin: 5% 0%;
    padding: 5%;
}
.food-text {
    display: flex;
    justify-content: space-between;
}

