main , header , footer  {
    font-family: 'roboto' , sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header-menu .arrow {
    font-size: 22px;
}
header p {
    font-size: 16px;
}
footer {
    line-height: 1.75rem;
    font-size: 16px;
}
h1, h2, h3 , h4 {
    font-weight: 500;
}
footer h4{
    font-family: shrikhand;
    font-size: 17px;
    margin-bottom: 5%;
}
a:visited ,  a:link {
    color: inherit;
    text-decoration: none;
}

/* Page accueil*/
.section-recherche h1{
    font-size: 23px; 
    line-height: 2rem;
}
.section-recherche p {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5rem;   
}
.section-nav h2 , .section-resto h2{
    font-size: 24px; 
}
.section-nav li i {
    color: #353535;
    font-weight: bold;
    font-size: 20px;
}
.fa-store:before {
    font-size: 15px;
}
.section-nav li {
     font-weight: 600;
     font-size: 16px;
}
.text h3 {
    line-height: 1.5rem;
    font-size: 18px;
}
.text p {
    font-weight: 300;
    line-height: 2rem;
    font-size:16px;
}
.contener-resto-text i {
    font-size: 22px;
}
.contener-resto-text .fa-heart:before {
    width: 18px;
}
/* Pages Menu */
.restaurant h1 , .main-menu h1 {
    font-family:  'shrikhand';
    font-size: 27px;
    font-weight: bold;
}
.main-menu h2 {
    line-height: 2rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}
.main-menu h3 {
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
}
.food-text h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.foodlist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem;
    font-size: 15px;
    font-weight: 100;
}
.price-button {
    font-size: 15px;
    font-weight: 500;
    line-height: 2rem;
}
/* Media queries Tablette*/

@media only screen and (min-width: 700px) {

.section-recherche h1 , .h1-heart h1  {
    font-size: 20px;
}
.h1-heart  h1 {
    font-size: 35px;
}
.section-nav h2 , .section-resto h2 {
    font-size: 20px;
    line-height: 1rem;
}
.main-menu h2 {
    font-size: 20px;
}
.contener-resto h3, .contener-resto-nouveau h3 , .contener-resto i, .contener-resto-nouveau i , .foodlist h3  {
    font-size: 18px;
    line-height: 1rem;
}
.section-recherche p , .button-explorer , .foodlist p  , .price-button {
    font-size: 15px;
    line-height: 1rem;
}
.header-nav  p ,  .header-nav i {
    font-size: 15px;
    line-height: 1rem;
}
.food-text {
    letter-spacing: .2rem;
    & h3 {
    line-height: 2rem;
    }
}
.contener-resto p , .contener-resto-nouveau p {
    font-size: 15px;
}
.contener-button li{
    font-size: 12px;
}
.button-explorer, .order-button {
    font-size: 15px;
}
.button-text  {
    font-size: 10px;
}
footer li {
    font-size: 15px;
    line-height: 0rem;
}
}

/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
.contener-button li{
    font-size: 15px;
}
.food-text {
    letter-spacing: 0;
}
}