main , header , footer  {
    font-family: 'roboto' , sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header-menu .arrow {
    font-size: 22px;
}
header p {
    font-size: 16px;
}
footer {
    line-height: 1.75rem;
    font-size: 15px;
}
h1, h2, h3 , h4 {
    font-weight: 700;
}
footer h4{
    font-family: shrikhand;
    font-size: 17px;
    margin-bottom: 5%;
}

/* Page accueil*/
.section-recherche h1{
    font-size: 23px; 
    line-height: 2rem;
}
.section-recherche p {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5rem;   
}
.section-nav h2 , .section-resto h2{
    font-size: 25px; 
}
.section-nav li i {
    color: #353535;
    font-weight: bold;
    font-size: 20px;
}
.fa-store:before {
    font-size: 15px;
}
.section-nav li {
     font-weight: bold;
     font-size: 16px;
}
.text {
    width: 80%;
    font-size: 17px;
}
.text h3 {
    line-height: 1.5rem;
}
.text p {
    font-weight: 100;
    line-height: 2rem;
}
.contener-resto-text i {
    font-size: 22px;
}
.contener-resto-text .fa-heart:before {
    width: 18px;
    font-weight: 100;
}

/* Pages Menu */
.main-menu h1 {
    font-family:  'shrikhand';
    font-size: 25px;
    font-weight: bold;
}
.main-menu h2 {
    line-height: 3rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}
.main-menu h3 {
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
    margin-bottom:2%;
}
.food-text h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.foodlist p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    font-size: 15px;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {
.header-nav  p ,  .header-nav i{
    font-size: 20px;
}
.contener-resto h3, .contener-resto-nouveau h3 , .contener-resto i, .contener-resto-nouveau i{
    font-size: 23px;
}
.contener-resto p , .contener-resto-nouveau p{
    font-size: 19px;
}
.button-text {
    font-size: 16px;
}
.section-recherche h1 {
    font-size: 29px;
}
.section-nav h2 , .section-resto h2 {
    font-size: 31px;
}
.section-recherche p , .button-explorer{
    font-size: 22px;
}

}

/* Media queries Desktop*/
@media only screen and (min-width: 990px) {
.header-nav  p ,  .header-nav i{
    font-size: 22px;
}
.section-recherche h1 {
    font-size: 34px;
}
 .section-recherche p , .button-explorer{
    font-size: 25px;
}
.contener-resto h3, .contener-resto-nouveau h3 , .contener-resto i, .contener-resto-nouveau i{
    font-size: 27px;
}
.contener-resto p , .contener-resto-nouveau p{
    font-size: 24px;
}
}