$color-button-primary: #9356DC;
$color-button-secondary: #FF79DA;
$color-button-tertiary: #99E2D0;
$background-color-primary: #F6F6F6;
$background-color-secondary: #EAEAEA;
$background-color-tertiary: #353535;
$color-footer-text: white;
$color-highlight:#9356DC;
$color-highlight-secondary: #99E2D0;
