header  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0% 0% 0%;
    & p {
    margin-left: 5%;
    }
    & img {
    justify-items: center;
    width: 45%;
    margin: 5%;
    }
}
.header-menu {
    display: flex;
    & .arrow {
    align-content: center;
    color: black;
    margin: 7% 15% 5% 2%;
    }
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $background-color-secondary;
    padding: 5%;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {


}

/* Media queries Desktop*/
@media only screen and (min-width: 990px) {

}