.section-recherche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $background-color-primary;
    padding: 12% 7%;
    & h1{
    text-align: center;
    padding: 0% 15%;
    }
    & p {  
    text-align: center;
    margin: 5% 0%;
    }
}

.section-nav {
    padding: 5% 5% 9% 5%;
    & li i {
    margin-right: 10%;
    margin-left: 0%;    
    }
}
.section-nav h2 , .section-resto h2{
    margin: 7% 3% 6% 3% ;
}
li {
    list-style: initial;
}

/* Media queries Tablette*/
@media only screen and (min-width: 700px) {

}
/* Media queries Desktop*/
@media only screen and (min-width: 990px) {

}